body {
	padding-top: 90px;
	padding-bottom: 30px;
	color: black;
	background-image: url('/static/app/content/8888.jpg');
	background-size: 100%;
	background-attachment: fixed;
}
p1{
    color: Indigo;
    font-family: fantasy;
    text-align: center;
}

.left {
	float: left;
	margin: 0 1em 1em 0;
}
hr1 {
	border: none; /* ”бираем границу дл€ браузера Firefox */
	color: black; /* ÷вет линии дл€ остальных браузеров */
	background-color: black; /* ÷вет линии дл€ браузера Firefox и Opera */
	height: 1px;
}


ul1, ul2 {
	list-style: none;
}
/*span.ul1{
	color: maroon;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	font-size: 20px;
}*/
/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}