{% extends "app/layout.html" %}

{% block content %}

<h2 style=" font-family:fantasy">{{ title }}.</h2>
<br />

<address style=" font-size:18px">
    Россия<br /> <img src="static/app/content/gif2.gif" class="rightimg" />
    Псков <br />
    Псковская область, ул.Купи, дом 69<br />
    <abbr title="Номер телефона">Телефон:</abbr>
     8(953)452-68-56
</address>

<address style=" font-size:20px">
    <strong>Тех. поддержка:</strong>   <a style="color:brown" href="mailto:Support@example.com">Kypi@example.com</a><br />
    <strong>Маркетинг:</strong> <a style="color:blue" href="mailto:Marketing@example.com">Slona@example.com</a>
</address>

{% endblock %}