{%extends "app/layout.html"%}

{% block content%}

<div>
    <h1 style="font-family:fantasy; font-size:22px; color:midnightblue">Собака породы Самоед</h1>
    <VIDEO src="/media/11.mp4" controls="controls" width="400" height="300" poster="/media/11.jpg" ></VIDEO>
</div>
<hr/>
<div>
    <h1 style="font-family:fantasy; font-size:22px; color:maroon">Милые хомячки</h1>
    <VIDEO src="/media/12.mp4" controls="controls" width="400" height="300" poster="/media/12.jpg" ></VIDEO>
</div>
   

{% endblock %}